{% extends 'blog/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '.css' %}">
{% endblock %}

{% block title %}
<h1>New</h1>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" placeholder="제목을 입력해주세요.">
    </div>
    <div>
        <label for="content">내용</label>
        <textaea name="content" id="content" cols="50" rows="15"></textaea>
    </div>
    <button type="submit">작성하기</button>
</form>
{% endblock %}