body {
    background-color: black;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

footer {
    width: 100%;
    margin-top: 5%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: whitesmoke;

}

address {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#navbar {
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transtion 적용 */
    transition: all 300ms ease-in-out;
    /* z-index의 default는 0 */
    z-index: 1;
    color: black;
    background-color:whitesmoke;
}
  
.navbar__logo {
    /* display: flex;
    align-items: center; */
    padding: 8px 16px;
    font-size: 24px;  }
  
.navbar__logo img {
    width: 50px;
    height: 50px;
    margin: 8px 16px;
}
  
  /* navbar-menu */
.navbar__menu {
    display: flex;
    padding-left: 0;
}
  
.navbar__menu .navbar__menu__item {
    margin: 0 4px;
    cursor: pointer;
    color: black;
}
  
.navbar__menu .navbar__menu__item a {
    padding: 8px 16px;
}
  
  /* .navbar__menu .navbar__menu__item:hover {
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
  } */
  
.registration-input {
    width: 100%;
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    border: none;
    padding: 9px 0 7px 8px;
    border: 1px solid rgb(89, 89, 89);
    box-sizing: border-box;
    background: #f3f3f3;
    margin: 15px 0;
}
  
.registration-input:focus {
    background-color: #ffffff;
}