a {
    background-color: whitesmoke;
    color: black;
    border-radius: 5%;
}

.box {
    width: 50%;

    display: flex;
    flex-direction: column;

    border: 2px solid whitesmoke;
    border-radius: 3px;
}

.detail {
    margin-left: 5%;
}

.box-one {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    margin: 2px;
}

.commentbox{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: left;
}

.comment {
    border-bottom: 0.5px solid whitesmoke;
}

.recommentbox{
    margin-left: 10%;
}