
a {
    background-color: whitesmoke;
    color: black;
    border-radius: 5%;
    margin: 2px;
}
.list_pile {
    width: 30%;
    height: 400px;
    font-size: 18px;
    
    border: 2px solid whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list_pile div {
    height: 3%;
    margin: 5%;
}