
a {
    background-color: whitesmoke;
    color: black;
    border-radius: 5%;
    font-size: 15px;
}

.form {
    
}

.detail {
    display: flex;
    justify-content: left;

}

.contents {
    margin: 3px;
    
}

button {
    margin-top: 5px;
}