body {
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;

} 

.menu {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
}

.menu div {
    margin: 5px;
}

.menu div a {
    color: black;
    font-size: larger;
    font-weight: bold;
}

.myself {
    width: 100%;
    height: 700px;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myself h1 {
    font-size: 40px;
    font-weight: bold;
}

.myself p {
    font-size: 20px;
}