<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <style>ul{list-style: none; padding-left: 0px;}</style>
    {% block css %}
    
    {% endblock css %}
    <title>JSM_project</title>
</head>

<body>
    <nav id="navbar">
        <div class="navbar__logo">
          <a href="{% url 'home' %}">home</a>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__menu__item">
                <a href="{% url 'new' %}">New</a>
            </li>
            <li class="navbar__menu__item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <span class="navbar__menu__item">안녕, {{user.username}}</span>
            <!-- user 장고에서 제공하는 것, 따로 views.py에서 안넘겨줘도 됨 -->
            <li class="navbar__menu__item">
                <a href="{% url 'logout'%}">로그아웃</a>
            </li>
            {% else %}
            <li class="navbar__menu__item">
                <a href="{% url 'login'%}">로그인</a>
            </li>
            <li class="navbar__menu__item">
                <a href="{% url 'signup'%}">회원가입</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% block title %}

        {% endblock title %}
    </div>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
    <footer>
        <p>Copyright © 2000 jsm.,Ltd. All rights reserved.</p>
        <address>
            <li>Korea univ. biotechnology</li>
            <li>Tell 010-784-7345</li>
            <li>E-mail jyeong1212@naver.com</li>
            <li>Instagram _jeongseokmin</li>
        </address>
    </footer>
</body>
</html>