{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}?v=1" />
{% endblock %}

{% block title %}
<h2>Detail</h2>
{% endblock %}

{% block content %}
<div class="box">
  <div class="detail">
    <h3>제목</h3>
    <div> - {{ article.title }}</div>
  </div><br>
  <div class="detail">
    <h3>내용</h3>
    <div> - {{ article.content }}</div>
  </div><br>
  <div class="detail">
    <h4>작성 시각</h4>
    <div><h5> - {{ article.time_post }}</h5></div>
  </div>
</div><br>
<div>
  <a href="{% url 'home' %}">홈으로</a>
  {% if user.is_authenticated and user.pk == article.author.pk %}
  <a href="{% url 'update' article.pk %}">수정하기</a>
  <a href="{% url 'delete' article.pk %}">삭제하기</a>
  {% endif %}
</div>
<div class="commentbox">
  <h4>댓글</h4>

  {% for comment in article.comments.all %}
  <div class="box-one">
    <div class="comment">
      {{comment.content}}{% if user.is_authenticated and user.pk == comment.author.pk %}
      <a href="{% url 'delete-comment' article.id comment.id %}">삭제</a>
      {% endif %}
    </div>
    <div class="recommentbox">

      {% for recomment in comment.recomments.all %}
      <div class="recomment">
        - {{recomment.body}}{% if user.is_authenticated and user.pk == recomment.author.pk %}
        <a href="{% url 'delete-recomment' article.id comment.id recomment.id %}">삭제</a>
        {% endif %}
      </div>
      {% endfor %}
      <form action="{% url 'recomment' article.id comment.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="답글" />
        <button type="submit">입력</button>
      </form>
    </div>
  </div>
  {% endfor %}
  
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="댓글을 입력해주세요" />
    <button type="submit">작성하기</button>
  </form>
</div>

{% endblock %}
