<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'info.css' %}"/>
</head>
<body>
    <div class="menu">
        <div><a href="http://127.0.0.1:8000/info"> info </a></div>
        <div><a href="http://127.0.0.1:8000/project"> Project </a></div>
    </div>
    <div class="myself">
        <h1>안녕하세요, 멋쟁이 정석민입니다</h1>
        <p>멋진 앞으로의 삶을 위해 노력합니다</p>
        <p>실패해도 웃으며 일어납니다</p>
        <p>모두 사랑합시다, 사랑합니다</p>
    </div>
</body>
</html>