<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}"/>
</head>
<body>
    <div class="menu">
        <div><a href="http://127.0.0.1:8000/info"> info </a></div>
        <div><a href="http://127.0.0.1:8000/project"> Project </a></div>
    </div>
    <div class="intro">
        <h1>나의 프로젝트다!!</h1>
        <div class="insta"></div>
        <div>
            <p>css 더 꾸미겠습니다,, 이게 img가 제 맘대로 잘 안되네요,,,</p>
            <p>토스랑 인스타 올리고 싶었는데,,</p>
        </div>
    </div>
</body>
</html>